--
-- PostgreSQL database dump
--

\restrict t2FHUtBneBtrJ4RnksAntGJsmjbLIignpbkGO28tHBUc4nvGHeoY6aI5bPoRfHw

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: budget_auto_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO budget_auto_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Asset; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."Asset" (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    balance double precision DEFAULT 0 NOT NULL,
    memo text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Asset" OWNER TO budget_auto_user;

--
-- Name: AssetHistory; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."AssetHistory" (
    id text NOT NULL,
    "yearMonth" text NOT NULL,
    "totalAssets" double precision NOT NULL,
    "totalLiabilities" double precision NOT NULL,
    "netAssets" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AssetHistory" OWNER TO budget_auto_user;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    "groupName" text DEFAULT '湲고?'::text NOT NULL
);


ALTER TABLE public."Category" OWNER TO budget_auto_user;

--
-- Name: CategoryGroupRule; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."CategoryGroupRule" (
    id text NOT NULL,
    "categoryName" text NOT NULL,
    "assignedGroup" text NOT NULL
);


ALTER TABLE public."CategoryGroupRule" OWNER TO budget_auto_user;

--
-- Name: CategoryRule; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."CategoryRule" (
    id text NOT NULL,
    keyword text NOT NULL,
    assigned_category text NOT NULL
);


ALTER TABLE public."CategoryRule" OWNER TO budget_auto_user;

--
-- Name: ExclusionRule; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."ExclusionRule" (
    id text NOT NULL,
    keyword text NOT NULL
);


ALTER TABLE public."ExclusionRule" OWNER TO budget_auto_user;

--
-- Name: IgnoredRule; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."IgnoredRule" (
    id text NOT NULL,
    keyword text NOT NULL
);


ALTER TABLE public."IgnoredRule" OWNER TO budget_auto_user;

--
-- Name: PaymentRule; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."PaymentRule" (
    id text NOT NULL,
    "paymentType" text NOT NULL,
    keyword text NOT NULL
);


ALTER TABLE public."PaymentRule" OWNER TO budget_auto_user;

--
-- Name: RecurringTransaction; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."RecurringTransaction" (
    id text NOT NULL,
    vendor text NOT NULL,
    amount double precision NOT NULL,
    category text NOT NULL,
    type text DEFAULT 'expense'::text NOT NULL,
    day_of_month integer NOT NULL
);


ALTER TABLE public."RecurringTransaction" OWNER TO budget_auto_user;

--
-- Name: Transaction; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public."Transaction" (
    id text NOT NULL,
    date text NOT NULL,
    amount double precision NOT NULL,
    vendor text NOT NULL,
    category text NOT NULL,
    type text NOT NULL,
    source text,
    hash text,
    memo text,
    currency text,
    subcategory text,
    "time" text,
    "isVerified" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Transaction" OWNER TO budget_auto_user;

--
-- Name: session; Type: TABLE; Schema: public; Owner: budget_auto_user
--

CREATE TABLE public.session (
    sid text NOT NULL,
    sess jsonb NOT NULL,
    expire timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.session OWNER TO budget_auto_user;

--
-- Data for Name: Asset; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--



--
-- Data for Name: AssetHistory; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--

COPY public."AssetHistory" (id, "yearMonth", "totalAssets", "totalLiabilities", "netAssets", "createdAt") FROM stdin;
2e32ab97-1c23-4d9f-ba1a-71517d6332cc	2026-05	1304393308	504015000	800378308	2026-05-06 05:11:43.094
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--



--
-- Data for Name: CategoryGroupRule; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--

COPY public."CategoryGroupRule" (id, "categoryName", "assignedGroup") FROM stdin;
\.


--
-- Data for Name: CategoryRule; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--



--
-- Data for Name: ExclusionRule; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--

COPY public."ExclusionRule" (id, keyword) FROM stdin;
684599d3-f32f-4240-bdbf-b1cfb6a1c7a2	?좎뒪諭낇겕 ?듭옣 (?댁껜)
\.


--
-- Data for Name: IgnoredRule; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--

COPY public."IgnoredRule" (id, keyword) FROM stdin;
419e3552-2b23-45d3-8e7c-edca9d3cd637	??洹?
800d7a23-bff6-4ad3-b991-e604b57c137b	?낃툑 ?댁뿭
64f39998-f306-454e-8d37-e263d39fa482	?섎굹?듭옣2,3???붿뿬湲??낃툑
\.


--
-- Data for Name: PaymentRule; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--



--
-- Data for Name: RecurringTransaction; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--

COPY public."RecurringTransaction" (id, vendor, amount, category, type, day_of_month) FROM stdin;
\.


--
-- Data for Name: Transaction; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--



--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: budget_auto_user
--

COPY public.session (sid, sess, expire) FROM stdin;
hh1Do2UbZFUkTU8AVqtaDqJhhrHwukE2	{"role": "admin", "cookie": {"path": "/", "secure": true, "expires": "2026-05-12T21:08:23.280Z", "httpOnly": true, "sameSite": "none", "originalMaxAge": 604800000}, "authenticated": true}	2026-05-12 21:08:24
3wYsW9x1y6V47OZeeXIY6cJVZKVIEsMO	{"role": "admin", "cookie": {"path": "/", "secure": true, "expires": "2026-05-13T23:36:21.031Z", "httpOnly": true, "sameSite": "none", "originalMaxAge": 604800000}, "authenticated": true}	2026-05-14 07:44:23
\.


--
-- Name: AssetHistory AssetHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."AssetHistory"
    ADD CONSTRAINT "AssetHistory_pkey" PRIMARY KEY (id);


--
-- Name: Asset Asset_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."Asset"
    ADD CONSTRAINT "Asset_pkey" PRIMARY KEY (id);


--
-- Name: CategoryGroupRule CategoryGroupRule_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."CategoryGroupRule"
    ADD CONSTRAINT "CategoryGroupRule_pkey" PRIMARY KEY (id);


--
-- Name: CategoryRule CategoryRule_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."CategoryRule"
    ADD CONSTRAINT "CategoryRule_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: ExclusionRule ExclusionRule_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."ExclusionRule"
    ADD CONSTRAINT "ExclusionRule_pkey" PRIMARY KEY (id);


--
-- Name: IgnoredRule IgnoredRule_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."IgnoredRule"
    ADD CONSTRAINT "IgnoredRule_pkey" PRIMARY KEY (id);


--
-- Name: PaymentRule PaymentRule_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."PaymentRule"
    ADD CONSTRAINT "PaymentRule_pkey" PRIMARY KEY (id);


--
-- Name: RecurringTransaction RecurringTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."RecurringTransaction"
    ADD CONSTRAINT "RecurringTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Transaction Transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_pkey" PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: budget_auto_user
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: AssetHistory_yearMonth_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "AssetHistory_yearMonth_key" ON public."AssetHistory" USING btree ("yearMonth");


--
-- Name: Asset_name_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "Asset_name_key" ON public."Asset" USING btree (name);


--
-- Name: CategoryGroupRule_categoryName_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "CategoryGroupRule_categoryName_key" ON public."CategoryGroupRule" USING btree ("categoryName");


--
-- Name: CategoryRule_keyword_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "CategoryRule_keyword_key" ON public."CategoryRule" USING btree (keyword);


--
-- Name: Category_name_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "Category_name_key" ON public."Category" USING btree (name);


--
-- Name: ExclusionRule_keyword_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "ExclusionRule_keyword_key" ON public."ExclusionRule" USING btree (keyword);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE INDEX "IDX_session_expire" ON public.session USING btree (expire);


--
-- Name: IgnoredRule_keyword_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "IgnoredRule_keyword_key" ON public."IgnoredRule" USING btree (keyword);


--
-- Name: PaymentRule_keyword_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "PaymentRule_keyword_key" ON public."PaymentRule" USING btree (keyword);


--
-- Name: Transaction_hash_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX "Transaction_hash_key" ON public."Transaction" USING btree (hash);


--
-- Name: session_sid_key; Type: INDEX; Schema: public; Owner: budget_auto_user
--

CREATE UNIQUE INDEX session_sid_key ON public.session USING btree (sid);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO budget_auto_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO budget_auto_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO budget_auto_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO budget_auto_user;


--
-- PostgreSQL database dump complete
--

\unrestrict t2FHUtBneBtrJ4RnksAntGJsmjbLIignpbkGO28tHBUc4nvGHeoY6aI5bPoRfHw

